<!DOCTYPE html>

<html>
    <head>
        <title>your data</title>
    </head>
    <body>
        <h1>Enter required information</h1>
        <form action="/register" method="post">
            <input name="bearer_token" placeholder="Input token" type='text'/>
            <input name="screen_name" placeholder="Input screen name" type='text'/>
            <input name="friends_count" placeholder="Input number of friends u want to be shown" type='text'/>
            <input type="submit" value="Create map"/>
        </form>
    </body>
</html>