<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_22969a4e9045451b93909481a805d69b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_22969a4e9045451b93909481a805d69b" ></div>
        
</body>
<script>    
    
            var map_22969a4e9045451b93909481a805d69b = L.map(
                "map_22969a4e9045451b93909481a805d69b",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1a23fa4acf654c09ae710ba56c1c4462 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_22969a4e9045451b93909481a805d69b);
        
    
            var feature_group_281eec7d0743464d8afb4f363fa8a503 = L.featureGroup(
                {}
            ).addTo(map_22969a4e9045451b93909481a805d69b);
        
    
            var marker_9193e1fc395c4d5cbcd04ce6bc956c58 = L.marker(
                [50.8787702, 4.4162596],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_ab3b60f90c004d59a60f7dcc1a9e074c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9193e1fc395c4d5cbcd04ce6bc956c58.setIcon(icon_ab3b60f90c004d59a60f7dcc1a9e074c);
        
    
        var popup_4055a002fe3c475f8e9210dbcf564109 = L.popup({"maxWidth": "100%"});

        
            var html_365f211aaafe447495d1bcfb60476bf4 = $(`<div id="html_365f211aaafe447495d1bcfb60476bf4" style="width: 100.0%; height: 100.0%;">Europarl_EN</div>`)[0];
            popup_4055a002fe3c475f8e9210dbcf564109.setContent(html_365f211aaafe447495d1bcfb60476bf4);
        

        marker_9193e1fc395c4d5cbcd04ce6bc956c58.bindPopup(popup_4055a002fe3c475f8e9210dbcf564109)
        ;

        
    
    
            var marker_fae93ea949b640128f2e6f66af8e107a = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_dd7a74db9d34453686770997efb39337 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fae93ea949b640128f2e6f66af8e107a.setIcon(icon_dd7a74db9d34453686770997efb39337);
        
    
        var popup_1a4b929c3608439aa504c36d7bc1e3a4 = L.popup({"maxWidth": "100%"});

        
            var html_0f482aaa13cd49a2880213cdce9817b6 = $(`<div id="html_0f482aaa13cd49a2880213cdce9817b6" style="width: 100.0%; height: 100.0%;">Euro_Solidarity</div>`)[0];
            popup_1a4b929c3608439aa504c36d7bc1e3a4.setContent(html_0f482aaa13cd49a2880213cdce9817b6);
        

        marker_fae93ea949b640128f2e6f66af8e107a.bindPopup(popup_1a4b929c3608439aa504c36d7bc1e3a4)
        ;

        
    
    
            var marker_5fabddedbbb945609f2ee4d5cbc803c5 = L.marker(
                [50.8465573, 4.351697],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_5c4987eed2c04d9fa6647e2cbb017b43 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5fabddedbbb945609f2ee4d5cbc803c5.setIcon(icon_5c4987eed2c04d9fa6647e2cbb017b43);
        
    
        var popup_280e4a0bb95a403eb7ff4e4015de6e3e = L.popup({"maxWidth": "100%"});

        
            var html_b8e1bc101d704cbcbcc1eb8408f99e16 = $(`<div id="html_b8e1bc101d704cbcbcc1eb8408f99e16" style="width: 100.0%; height: 100.0%;">EPPGroup</div>`)[0];
            popup_280e4a0bb95a403eb7ff4e4015de6e3e.setContent(html_b8e1bc101d704cbcbcc1eb8408f99e16);
        

        marker_5fabddedbbb945609f2ee4d5cbc803c5.bindPopup(popup_280e4a0bb95a403eb7ff4e4015de6e3e)
        ;

        
    
    
            var marker_e9700eecca944f8ab67b623e193652dd = L.marker(
                [39.7459468, -75.546589],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_c7bfa592562c4792beb3ce08a3c4e93e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e9700eecca944f8ab67b623e193652dd.setIcon(icon_c7bfa592562c4792beb3ce08a3c4e93e);
        
    
        var popup_b8494f17dc3148c98479fe5d6fdb9c17 = L.popup({"maxWidth": "100%"});

        
            var html_e3465b243a154ce4887df6fa864716e9 = $(`<div id="html_e3465b243a154ce4887df6fa864716e9" style="width: 100.0%; height: 100.0%;">JoeBiden</div>`)[0];
            popup_b8494f17dc3148c98479fe5d6fdb9c17.setContent(html_e3465b243a154ce4887df6fa864716e9);
        

        marker_e9700eecca944f8ab67b623e193652dd.bindPopup(popup_b8494f17dc3148c98479fe5d6fdb9c17)
        ;

        
    
    
            var marker_361285ac40bb4ab6b01d00861a0f685e = L.marker(
                [31.5313113, 34.8667654],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_934bdb4967ad41de82a177205fb3226a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_361285ac40bb4ab6b01d00861a0f685e.setIcon(icon_934bdb4967ad41de82a177205fb3226a);
        
    
        var popup_642b22f04f3142bf8c571f2dc83282fe = L.popup({"maxWidth": "100%"});

        
            var html_204cddba3e07457caccf0db1808e0f2c = $(`<div id="html_204cddba3e07457caccf0db1808e0f2c" style="width: 100.0%; height: 100.0%;">netanyahu</div>`)[0];
            popup_642b22f04f3142bf8c571f2dc83282fe.setContent(html_204cddba3e07457caccf0db1808e0f2c);
        

        marker_361285ac40bb4ab6b01d00861a0f685e.bindPopup(popup_642b22f04f3142bf8c571f2dc83282fe)
        ;

        
    
    
            var marker_7b1b1d7d91f248718e1e1884ba9bb070 = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_a19ea1eeffe74209bca38256940a0d07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7b1b1d7d91f248718e1e1884ba9bb070.setIcon(icon_a19ea1eeffe74209bca38256940a0d07);
        
    
        var popup_31850e6e209a4f61996e3c11a7550204 = L.popup({"maxWidth": "100%"});

        
            var html_3ca1504b06e541e1afffe5797ac12b8e = $(`<div id="html_3ca1504b06e541e1afffe5797ac12b8e" style="width: 100.0%; height: 100.0%;">KamalaHarris</div>`)[0];
            popup_31850e6e209a4f61996e3c11a7550204.setContent(html_3ca1504b06e541e1afffe5797ac12b8e);
        

        marker_7b1b1d7d91f248718e1e1884ba9bb070.bindPopup(popup_31850e6e209a4f61996e3c11a7550204)
        ;

        
    
    
            var marker_e1546ff641264bb8b7a4f68e2c9ee13f = L.marker(
                [54.7023545, -3.2765753],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_a684d6cc0db84d66b55feca6158440b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e1546ff641264bb8b7a4f68e2c9ee13f.setIcon(icon_a684d6cc0db84d66b55feca6158440b5);
        
    
        var popup_7daa4a6f6e1d4cc7af0256b5e9d97cf7 = L.popup({"maxWidth": "100%"});

        
            var html_eb487b1e500847f29628e64c33bd155e = $(`<div id="html_eb487b1e500847f29628e64c33bd155e" style="width: 100.0%; height: 100.0%;">BorisJohnson</div>`)[0];
            popup_7daa4a6f6e1d4cc7af0256b5e9d97cf7.setContent(html_eb487b1e500847f29628e64c33bd155e);
        

        marker_e1546ff641264bb8b7a4f68e2c9ee13f.bindPopup(popup_7daa4a6f6e1d4cc7af0256b5e9d97cf7)
        ;

        
    
    
            var marker_f90d6f150c224e838f6631ae09e7ab47 = L.marker(
                [-35.2975906, 149.1012676],
                {}
            ).addTo(feature_group_281eec7d0743464d8afb4f363fa8a503);
        
    
            var icon_6345f7ee71864285b92aea143833695c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f90d6f150c224e838f6631ae09e7ab47.setIcon(icon_6345f7ee71864285b92aea143833695c);
        
    
        var popup_f3aebffbee2a490ea5a72c5000f3de95 = L.popup({"maxWidth": "100%"});

        
            var html_dded194bdc19469eaf2dd07abc57402e = $(`<div id="html_dded194bdc19469eaf2dd07abc57402e" style="width: 100.0%; height: 100.0%;">ScottMorrisonMP</div>`)[0];
            popup_f3aebffbee2a490ea5a72c5000f3de95.setContent(html_dded194bdc19469eaf2dd07abc57402e);
        

        marker_f90d6f150c224e838f6631ae09e7ab47.bindPopup(popup_f3aebffbee2a490ea5a72c5000f3de95)
        ;

        
    
    
            var layer_control_e503c523156543f4ab21c3194b21c8d2 = {
                base_layers : {
                    "openstreetmap" : tile_layer_1a23fa4acf654c09ae710ba56c1c4462,
                },
                overlays :  {
                    "macro_element_281eec7d0743464d8afb4f363fa8a503" : feature_group_281eec7d0743464d8afb4f363fa8a503,
                },
            };
            L.control.layers(
                layer_control_e503c523156543f4ab21c3194b21c8d2.base_layers,
                layer_control_e503c523156543f4ab21c3194b21c8d2.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_22969a4e9045451b93909481a805d69b);
        
</script>